html {
  scroll-behavior: smooth;
}

/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #ffffff;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #020617;
  padding: 15px 20px;
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: bold;
}

/* MENU */
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

/* HOVER (efeito profissional) */
.menu a:hover {
  color: #38bdf8;
}

/* HERO */
#hero {
  text-align: center;
  padding: 80px 20px;
}

/* SEÇÕES */
section {
  padding: 50px 20px;
}

/* PROJETOS */
#projetos {
  background: #020617;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* SOBRE */
#sobre {
  text-align: center;
}

#sobre img {
  border-radius: 50%;
  margin: 20px 0;
}

/* PROJETOS */
.projetos-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
}

/* RESPONSIVIDADE */

/* Tablets e telas médias */
@media (max-width: 768px) {

  nav {
    flex-direction: column;
    gap: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #hero {
    padding: 50px 20px;
  }

  section {
    padding: 30px 15px;
  }

}

@media (max-width: 768px) {

  .projetos-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

}

h1, h2, h3 {
  margin-bottom: 10px;
}

p {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 768px) {

  .menu {
    flex-direction: column;
    align-items: center;
  }

}